#pricing {
    margin-top: 9rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

#pricing .pricing-text {
    width: 100%;
}

#pricing .pricing-text h4 {
    color: var(--color-bg-default);
    font-weight: 400;
}

#pricing .pricing-text h2 {
    max-width: 450px;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
}

.pricing-plans {
    width: 100%;
}

#pricing .pricing-plans .pricing-plans--boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pricing .pricing-plans .pricing-box {
    flex: 1;
    min-width: 300px;
    height: 600px;
    margin: 10px;
    padding: 2.5rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.116);
    background-color: #fff;  
    transition: all ease 0.1s;
    /*animation-name: animapricing;
    animation-duration: 0.5s;*/
}

/*@keyframes animapricing {
    from {opacity: 0}
    to {opacity: 1}
}*/

#pricing .pricing-plans .pricing-box:hover {
    color: var(--font-color-white);
    background-color: var(--color-bg-default); 
}
#pricing .pricing-plans .pricing-box:hover p {
    color: var(--font-color-white) !important;
}

#pricing .pricing-plans .pricing-box:first-child {
    margin-left: 0;
}
#pricing .pricing-plans .pricing-box:last-child {
    margin-right: 0;
}

#pricing .pricing-plans .pricing-box h4 {
    font-size: 1.7rem;
}

#pricing .pricing-plans .pricing-box h3 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 9rem;
}

#pricing .pricing-plans .pricing-box h3 span {
    font-size: 1.3rem;
}

#pricing .pricing-plans .pricing-box hr{
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 3rem;
}

#pricing .pricing-plans .pricing-box p {
    margin-bottom: 0.8rem;
}

#pricing .pricing-plans .pricing-box .bt-pricing-box {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#pricing .pricing-plans .pricing-box .bt-pricing-box .bt-pricing-plans {
    padding: 0.8rem 4rem;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: none;
    color: var(--font-color-default) !important;
    background-color: #fff;
    transition: all ease 0.1s;
}

#pricing .pricing-plans .pricing-box .bt-pricing-box .bt-pricing-plans:hover {
    color: var(--color-bg-default) !important;
    text-decoration: underline;
}

#pricing .pricing-plans .pricing-box:hover .bt-pricing-box .bt-pricing-plans {
    border-color: var(--color-bg-default);
}